.header {
  grid-area: h;
  background-color: green;
}

.logo {
  height: 100%;
}

.login_block {
  float: right;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.login_block a {
  color: white;
}