.nav {
    grid-area: n;
    background-color: burlywood;
}

.nav_list {
    padding: 10px 20px;
}

.item {
    list-style: none;
}

.link, .active_link {
    text-decoration: none;
}

.link {
    color: cornsilk;
}

.active_link {
    color: gold;
}

.friends_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends {
    display: flex;
    gap: 10px;
}