.nav {
    grid-area: n;
    background-color: burlywood;
}

.item {
    list-style: none;
}

.link, .active_link {
    text-decoration: none;
}

.link {
    color: cornsilk;
}

.active_link {
    color: gold;
}