.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
 padding: 10px;
}

.dialog {

}

.dialog_active {
    font-weight: bold;
}

.messages_block {
    padding: 10px;
}

.send_block {
    text-align: end;
}

.block {
    display: block;
}

.textarea {
    width: 100%;
}

.button {
    margin-left: auto;
}